// Fonts: Manrope, Unbounded
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap");

/* Core style */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

input:focus {
  outline: none !important;
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  display: inline-block;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #131313;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  font-family: "Unbounded", "Manrope", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
}

// header start
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 30px 30px;
    background: #fff;
    padding: 9px 16px;
  }

  .nav-list {
    display: flex;
    gap: 8px;
  }

  .nav-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #131313;
    padding: 8px 12px;
    border-radius: 80px;
    border: 1px solid #e2e2e2;
    display: inline-block;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: #e2e2e2;
    }
  }

  &-right {
    display: flex;
    gap: 20px;

    &__btn {
      padding: 10px 16px;
      border-radius: 47px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 6px;

      &.sale-btn {
        background: linear-gradient(277.24deg,
            #ffab22 -11.68%,
            #ff5313 140.19%);
      }

      &.orange-btn {
        background: #ff5313;
      }
    }
  }

  &-social__media {
    display: flex;
    gap: 4px;

    .social-media {
      width: 40px;
      height: 40px;
      border: 1px solid #131313;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// header end

// intro start
.intro {
  background: #f5f5f5;
  padding: 182px 0 332px;
  position: relative;

  &-content {
    text-align: center;

    &__title {
      font-family: "Unbounded", "Manrope", sans-serif;
      font-size: 48px;
      font-weight: 500;
      line-height: 56px;
      margin-top: 12px;
    }
  }
}

// intro end

// about us start
.about-us {
  padding: 120px 0;

  &-content {
    text-align: center;
  }

  &__title {
    font-family: "Unbounded", "Manrope", sans-serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 72px;
    text-align: center;
    margin-bottom: 4px;
    background: linear-gradient(90deg, #FF5313, #FF8C00, #FF5313);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: gradientFlow 5s linear infinite;

    @keyframes gradientFlow {
      0% {
        background-position: 0% 50%;
      }

      100% {
        background-position: 200% 50%;
      }
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: 350px 1fr 350px;
    gap: 12px;
    margin-top: 40px;
  }

  &-card__duble {
    display: flex;
    gap: 12px;
    flex-direction: column;
    height: 100%;
  }

  &-card {
    &__img {
      position: absolute;
    }
  }

  &__card {
    padding: 24px;
    border-radius: 24px;
    background: #F5F5F5;
    position: relative;
    height: 100%;

    &__title {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
    }

    &.comment {
      .about-us-card__img {
        bottom: 12px;
        width: 189px;
        height: 206px;
        right: 22px;
      }
    }

    &.plus {
      background: #FFF1DA;

      .plus-img__one {
        top: 50px;
        right: 11px;
        width: 84px;
        height: 84px;
      }

      .plus-img__two {
        width: 118px;
        height: 118px;
        bottom: 0;
        top: unset;
        right: 75px;
      }

      .plus-img__three {
        width: 65px;
        height: 65px;
        bottom: 35px;
        left: 81px;
      }
    }

    &.up-money {
      background: #FFE4DA;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .about-us-card__img {
        position: initial;
        width: 100%;
        height: 382px;
        object-fit: contain;
      }
    }

    &.partnership {
      .about-us-card__img {
        bottom: 14px;
        right: 22px;
        width: 159px;
        height: 178px;
      }
    }

    &.star {
      .about-us-card__img {
        bottom: 11px;
        right: 11px;
        width: 176px;
        height: 187px;
      }
    }
  }

  .about-us-card__img {
    animation: floatAnimation 3s ease-in-out infinite;
  }

  @keyframes floatAnimation {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

}

// about us end

// financial-status start
.financial-status {
  padding-top: 120px;

  .container {
    position: relative;
    z-index: 3;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: 3;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
    position: relative;
    z-index: 4;
    margin-bottom: 40px;
  }

  &__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    max-width: 324px;
  }

  .swiper-btns {
    display: flex;
    gap: 8px;

    .swiper-btn {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: #F5F5F5;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__content-right {
    display: flex;
    gap: 28px;
    align-items: stretch;
    justify-content: space-between;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    z-index: 3;
    position: relative;
    background: #fff;
  }

  &__item {
    padding: 12px 33px 12px 19px;
    background: #F5F5F5;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-content {
      display: flex;
      align-items: center;
      gap: 34px;

      img {
        width: 54px;
        height: 56px;
      }
    }

    &-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      opacity: .8;
    }

    &-price {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      color: #929292;
    }
  }

  &__slider {
    max-width: calc(100% - 442px);
    z-index: 2;

    .swiper-wrapper {
      height: 100%;
    }

    .swiper-slide {
      height: 100%;
    }
  }

  &__step-card {
    background: #F5F5F5;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px;
    height: 100%;

    &.orange-card {
      background: #FFE4DA;

      .financial-status__step-card__step {
        color: #FF5313;
      }
    }

    &.gold-card {
      background: #FFF1DA;

      .financial-status__step-card__step {
        color: #FFAB22;
      }
    }

    &__header {
      display: flex;
      align-items: start;
      justify-content: space-between;
    }

    &__body {
      min-height: 168px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ul {
        list-style: disc;
        padding-left: 24px;
      }
    }

    &__icon {
      width: 64px;
      height: 64px;
      border-radius: 12px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__step {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      color: #929292;
    }

    &__title {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 12px;
    }

    &__text {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      opacity: .8;
    }
  }
}

// financial-status end

// application-conveniences start
.application-conveniences {
  padding: 156px 0;

  .title {
    text-align: center;
  }
}

// application-conveniences end

// hero5-comparison start
.hero5-comparison {

  .title {
    text-align: center;
  }

  &__cards {
    display: flex;
    align-items: stretch;
    gap: 12px;
    margin: 40px 0 120px 0;
    justify-content: space-between;
  }

  &__card {
    padding: 32px;
    border-radius: 24px;
    background: #F5F5F5;
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;

    &:hover {
      .plus-btn img {
        transform: rotate(45deg);
      }

      .hero5-comparison__card-info {
        opacity: 1;
      }
    }

    &.gold-card {
      background: #FFF1DA;
    }

    &.orange-card {
      background: #FFE4DA;
    }

    &-header {
      display: flex;
      align-items: start;
      justify-content: space-between;
    }

    &-img {
      width: 100%;
      object-fit: contain;
    }

    &-img-bg {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      object-fit: contain;
      z-index: -1;
    }

    .plus-btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        transition: all .3s ease-in-out;
      }
    }

    &-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 16px;
    }

    &-info {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      opacity: 0;
      transition: all .3s ease-in-out;
    }
  }

  &__duble-card {
    display: flex;
    gap: 12px;
    flex-direction: column;
    height: 100%;
    max-width: calc(100% - 483px);
  }

  &__soon {
    padding: 48px;
    border-radius: 24px;
    background: linear-gradient(68.59deg, #FF5313 19.43%, #FF9E00 121.15%);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &-slider {
      max-width: 522px;
      margin: 0;
      position: unset;
    }

    .swiper-pagination {
      width: fit-content;
      left: 50%;
      right: unset;
      top: unset;
      bottom: 46px;
      transform: translateX(-50%);
    }

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background: #fff;
      border-radius: 32px;
      opacity: 1;
      transition: all .3s ease-in-out;
    }

    .swiper-pagination-bullet-active {
      width: 48px;
    }

    &-soon {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      padding: 10px 16px;
      border-radius: 43px;
      background: #fff;
      display: inline-block;

      &.color-changing {
        animation: colorChange 2s linear infinite forwards alternate;
      }

      @keyframes colorChange {
        0% {
          color: #FF5313;
        }

        50% {
          color: #FF9E00;
        }

        100% {
          color: #131313;
        }
      }
    }

    &-title {
      font-family: "Unbounded", "Manrope", sans-serif;
      font-size: 40px;
      font-weight: 500;
      line-height: 46px;
      color: #fff;
      margin: 29px 0 24px 0;
    }

    &-text {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      color: #fff;
      margin-bottom: 41px;
    }

    &-btn {
      padding: 16px 32px;
      border-radius: 35px;
      background: #131313;
      display: inline-block;
      font-weight: 600;
      color: #fff;
      border: 1px solid #131313;
      transition: all .3s ease-in-out;

      &:hover {
        background: transparent;
      }
    }

    &-img {
      img {
        position: absolute;
        background: transparent;
        animation: float 3s ease-in-out infinite;

        @keyframes float {

          0%,
          100% {
            transform: translateY(0);
          }

          50% {
            transform: translateY(-10px);
          }
        }

        &.hero5-comparison__soon-raketa {
          animation-duration: 4s;
        }

        &.hero5-comparison__soon-sharik-orange,
        &.hero5-comparison__soon-sharik {
          animation-duration: 5s;
        }

        &.hero5-comparison__soon-tanga,
        &.hero5-comparison__soon-tanga-2,
        &.hero5-comparison__soon-tanga-3,
        &.hero5-comparison__soon-tanga-blur {
          animation-duration: 6s;
          animation-delay: 1s;
        }
      }
    }

    &-sharik-orange {
      top: 0;
      right: 386px;
    }

    &-sharik {
      bottom: 0;
      right: 0;
    }

    &-tanga {
      top: 0;
      right: 376px;
      z-index: -1;
    }

    &-raketa {
      top: 25px;
      right: 86px;
    }

    &-tanga-2 {
      top: 215px;
      left: 497px;
      width: 98px;
      height: 60px;
      transform: rotate(4deg) skew(128deg);
    }

    &-tanga-3 {
      top: 0;
      right: -53px;
      width: 168px;
      height: 165px;
      transform: skew(161deg, -193deg);
    }

    &-tanga-blur {
      bottom: 83px;
      right: 506px;
      width: 132px;
      height: 85px;
      transform: skew(161deg, -193deg);
      filter: blur(10px);
    }
  }

  &__soon-btn-2 {
    padding: 16px 32px;
    border-radius: 35px;
    background: #FFE4DA;
    display: block;
    width: fit-content;
    font-weight: 600;
    color: #131313;
    border: none;
    transition: all .3s ease-in-out;
    margin: 120px auto 0 auto;

    &:hover {
      background: #FF5313;
      color: #fff;
    }
  }
}

// hero5-comparison end

// business-networking start
.business-networking {
  margin-bottom: 120px;

  .title {
    text-align: center;
    margin: 16px 0 24px 0;
  }

  &__text {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    opacity: .8;
    display: block;
    margin-bottom: 40px;
  }

  &__map {
    width: 100%;
    height: 470px;
    background: url(../images/map.png) no-repeat center center / cover;
    position: relative;
    margin-bottom: 120px;
  }

  &__user {
    position: absolute;
    padding: 8px;
    border-radius: 14px;

    &.active {
      background: #fff;
      box-shadow: 0px 4px 16px 0px #00000012;
      z-index: 1;

      .business-networking__user-bottom,
      .business-networking__user-info {
        opacity: 1;
        visibility: visible;
      }
    }

    &.one {
      top: 82px;
      left: 68px;
    }

    &.two {
      top: 0;
      left: 327px;
    }

    &.three {
      top: 26px;
      left: 508px;
    }

    &.four {
      top: 21px;
      left: 580px;
    }

    &.five {
      top: 214px;
      left: 266px;
    }

    &.six {
      top: 111px;
      left: 472px;
    }

    &.seven {
      top: 66px;
      right: 200px;
    }

    &.eight {
      top: 45px;
      right: 25px;
    }

    &.nine {
      bottom: 66px;
      right: 6px;
    }

    &-content {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    &-name {
      font-size: 10px;
      font-weight: 600;
      line-height: 14px;
    }

    &-status {
      font-size: 10px;
      font-weight: 600;
      line-height: 14px;
      color: #929292;
    }

    &-img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: 2px solid #fff;
      // overflow: hidden;
      cursor: pointer;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: block;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
      }

      &::before {
        animation: pulse 3s infinite;
      }

      &::after {
        animation: pulse 3s infinite 1.5s;
      }

      @keyframes pulse {
        0% {
          transform: translate(-50%, -50%) scale(1);
          opacity: 0;
          border-color: lightcoral;
        }

        25% {
          transform: translate(-50%, -50%) scale(1.1);
          opacity: 0.5;
          border-color: lightcoral;
        }

        50% {
          transform: translate(-50%, -50%) scale(1.2);
          opacity: 0.8;
          border-color: lightcoral;
        }

        75% {
          transform: translate(-50%, -50%) scale(1.3);
          opacity: 0.3;
          border-color: lightcoral;
        }

        100% {
          transform: translate(-50%, -50%) scale(1.4);
          opacity: 0;
          border-color: lightcoral;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-info {
      opacity: 0;
      visibility: hidden;
    }

    &-bottom {
      display: flex;
      align-items: center;
      gap: 7px;
      background: #F5F5F5;
      border-radius: 7px;
      padding: 10px;
      margin-top: 8px;
      width: fit-content;
      opacity: 0;
      visibility: hidden;

      span {
        font-size: 10px;
        font-weight: 600;
        line-height: 14px;
      }
    }
  }

  .flip-card {
    position: relative;
    z-index: 1;
    border-radius: 24px;
    perspective: 1000px;
    height: 438px;
    cursor: pointer;

    &:hover {
      .flip-card__inner {
        transform: rotateY(180deg);
      }
    }

    &__inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }

    &__plus-btn {
      width: 40px;
      height: 40px;
      top: 24px;
      right: 24px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      z-index: 2;
    }

    &__front,
    &__back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 24px;
    }

    &__front {
      background: #F5F5F5;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 10px;
    }

    &__front-img {
      position: absolute;
      z-index: -1;
      border-radius: inherit;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__info {
      background: #fff;
      border-radius: 13px;
      padding: 12px;
      width: fit-content;
      margin-left: 24px;
      margin-top: auto;
    }

    &__name {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      margin-bottom: 4px;
      display: block;
    }

    &__status {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      display: block;
      color: #929292;
    }

    &__text-wrapper {
      padding: 24px;
      background: #F5F5F5;
      width: 100%;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      min-height: 148px;
    }

    &__text {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      opacity: .8;
    }

    &__back {
      background: #fff;
      transform: rotateY(180deg);
      padding: 24px;
      display: flex;
      flex-direction: column;

      &.orange-card {
        background: #FFE4DA;
      }

      .flip-card__plus-btn {
        transform: rotate(45deg);
      }
    }


    &__back-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 114px;
    }

    &__back-header {
      display: flex;
      align-items: center;
      margin-bottom: 28px;
      gap: 16px;
    }

    &__back-img {
      width: 82px;
      height: 82px;
      border-radius: 50%;
      object-fit: cover;
    }

    &__back-info {
      display: flex;
      flex-direction: column;
    }

    &__back-name {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
    }

    &__back-status {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      color: #929292;
    }

    &__back-text {
      flex-grow: 1;
      opacity: 0.8;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
    }

    &__back-list {
      padding-left: 25px;
      list-style: disc;
    }
  }
}

// business-networking end